<h1>Log In</h1>

<% if flash[:danger] %>
      <div id="alert">
         <%= flash[:danger] %> 
      </div>
<% end %>


<%= form_for(:session, url: login_path) do |form| %>

      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>

      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>

      <%= form.submit "Log in", class: "btn btn-primary" %>
    <% end %>
