<h1>Customers List</h1>

<p><%= link_to 'Back to Main Page', root_path %></p>
<p><%= link_to 'Create New Customer', new_customer_path %></p>
<p><%= link_to "Printable Customers List (PDF)", customers_path(@customers, format: "pdf")  %></p>
<br>

<table>
 <tr>
   <th>Customer ID</th>
   <th>Customer Name</th>
   <th>Street</th>
   <th>City</th>
   <th>Province</th>
   <th>Postal</th>
   <th>Phone</th>
   <th>Email</th>
   <th>Zone ID</th>
   <th>Start Date</th>
   <th>Note</th>
   <th>Customer Type ID</th>
   
 </tr>

 <% @customers.each do |customer| %>
   <tr>
     <td><%= customer.CustomerID %></td>
     <td><%= customer.CustomerName %></td>
     <td><%= customer.Street %></td>
     <td><%= customer.City %></td>
     <td><%= customer.Province %></td>
     <td><%= customer.Postal %></td>
     <td><%= number_to_phone(customer.Phone) %></td>
     <td><%= customer.Email %></td>
     <td><%= customer.ZoneID %></td>
     <td><%= customer.StartDate.strftime('%Y-%A-%B-%d') %></td>
     <td><%= customer.Note %></td>
     <td><%= customer.CustomerTypeID %></td>

   <td><%= link_to 'Show', customer_path(customer) %></td>
     <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
     <td><%= link_to 'Delete', customer_path(customer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

   </tr>
 <% end %>
</table>  
