<h1>Customer Notes</h1>

<p><%= link_to 'Back to Main Page', root_path %></p>
<p><%= link_to 'Create New customernote', new_customernote_path %></p>
<p><%= link_to "Printable customernotes List (PDF)", customernotes_path(@customernotes, format: "pdf")  %></p>

<br>

<table>
 <tr>
   <th>Note ID</th>
   <th>Employee ID</th>
   <th>Note Date Time</th>
   <th>Note Type ID</th>
   <th>Note</th>
   <th>Resolution Date Time</th>
   <th>Resolution</th>
   <th>Resolved</th>
   
 </tr>

 <% @customer.customernotes.each do |customernote| %>
   <tr>
     <td><%= customernote.NoteID %></td>
     <td><%= customernote.EmployeeID %></td>
     <td><%= customernote.NoteDateTime %></td>
     <td><%= customernote.NoteTypeID %></td>
     <td><%= customernote.Note %></td>
     <td><%= customernote.ResolutionDateTime %></td>
     <td><%= customernote.Resolution %></td>
     <td><%= customernote.Resolved %></td>

     <td><%= link_to 'Edit', edit_customernote_path(customernote) %></td>

   </tr>
 <% end %>
</table>  