<h1>Contact Information</h1>

<%= link_to 'Back', customercontacts_path %>
<%= link_to 'Edit', edit_customercontact_path(@customercontact) %> 

<table>
 <tr>
   <th>Contact ID</th>
   <th>First Name</th>
   <th>Last Name</th>
   <th>Phone</th>
   <th>Email</th>
   <th>Street</th>
   <th>City</th>
   <th>Province</th>
   <th>Postal</th>
   <th>Note</th>
   
 </tr>

 
   <tr>
     <td><%= @customercontact.ContactID %></td>
     <td><%= @customercontact.CustomerID %></td>
     <td><%= @customercontact.Firstname %></td>
     <td><%= @customercontact.Lastname %></td>
     <td><%= @customercontact.Phone %></td>
     <td><%= @customercontact.Email %></td>
     <td><%= @customercontact.Street %></td>
     <td><%= @customercontact.City %></td>
     <td><%= @customercontact.Province %></td>
     <td><%= @customercontact.Postal %></td>
     <td><%= @customercontact.Note %></td>

   </tr>
 
</table>

